@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cinzel+Decorative:wght@400;700;900&family=Monoton&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    background-color: #000;
}

.our-navbar{
height: 50px;
width: 100%;
background-color: #212121;
display: flex;
justify-content: space-between;
padding: 10px 20px;
position: fixed;
top: 0;
z-index: 10;
}

.our-navbar .our-logo{
color: #5500FF;
align-self: center;
font-size: 30px;
font-family: Playfair Display;
}

.our-navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 600px;
}

.our-navbar ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

.our-navbar ul li a::after{
   position: absolute;
   content: '';
   height: 2px;
   width: 100%;
   transition: .7s;
   bottom: 0;
   left: 0;
   transform: scale(0);
   background-color: #5500FF;
}

.our-navbar ul li a:hover::after{
    transform: scale(1);
}



.banner{
    height: 100vh;
    width: 100%;
    position: relative;
}

.banner::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg,#000,transparent);
    top: 0;
    left: 0;
}

.carousel-indicators{
    z-index: 3;
}

.carousel-caption{
    z-index: 1;
}

.banner .carousel{
    height: 100%;
    width: 100%;
}

.banner .carousel .carousel-inner{
    height: 100%;
    width: 100%;
}

.banner .carousel-inner{
    height: 100%;
    width: 100%;
}

.banner .carousel-inner .carousel-item{
height: 100%;
width: 100%;
}

.banner .carousel-inner .carousel-item img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.carousel-caption h1{
    font-family: Playfair Display;
}

.carousel-caption h3{
    font-size: 15px;
    color: #5500FF;
}


.aboutUs-section{
    padding-top: 50px;
    height: auto;
    text-align: center;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(1,0,4,1) 6%, rgba(1,0,8,1) 15%, rgba(31,0,97,1) 30%, rgba(54,0,163,1) 60%, rgba(38,0,115,1) 68%, rgba(1,0,5,1) 81%, rgba(1,0,6,1) 100%, rgba(15,4,78,1) 100%, rgba(62,1,196,1) 100%, rgba(85,0,255,1) 100%);
}

.aboutUs-section h1{
    font-size: 150px;
    font-family: Playfair Display;
    color: #dedede;
}

.aboutUs-cards{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.row > div{
    height: auto;
    width: 300px;
    margin: 0px 10px;
    background-color: #090909;
    border-radius: 10px;
    overflow: hidden;
}

.row > div .img-area{
    height: 200px;
    width: 100%;
    position: relative;
}

.img-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.img-area::after{
    position: absolute;
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg,#090909,transparent);
}

.descript{
    padding: 10px 10px;
    height: auto;
}

.descript h1{
    font-size: 20px;
}

.descript h3{
    color: #dedede;
    font-size: 13px;
}

.descript p{
    font-size: 13px;
    color: #dedede;
}

.descript ul{
    display: flex;
    justify-content: space-evenly;
}

.descript ul li{
    list-style: none;
    color: #5500FF;
}




.activity-section{
    padding-top: 150px;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #000;
}

.activity-section h1{
    font-size: 120px;
    font-family: Playfair Display;
    color: #dedede;
    z-index: 4;
}

.activity-section h3{
    font-size: 20px;
    color: #dedede;
    text-transform: uppercase;
    z-index: 4;
}

.activity-title{
    position: relative;
    z-index: 3;
    margin-bottom: 100px;
}

.triangle{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    height: 300px;
    width: 300px;
    background-color: #5500FF;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: -1;
    filter: blur(120px);
}

.activites{
    margin-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.activites .activity-card{
    height: 300px;
    padding: 0px;
    position: relative;
}


.activity-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activites .activity-card::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    background: linear-gradient(0deg,#090909,#5500FF);
}

.activity-descript{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.activity-descript p,.activity-descript button{
color: #dedede;
}

.activity-descript button{
    height: 40px;
    width: 100px;
    border: 1px solid #dedede;
}

.activity-descript button:hover{
    border: 1px solid #dedede;
    color: #dedede;
    opacity: .7;
}

.our-footer h1{
    text-align: center;
    font-size: 80px;
    color: #dedede;
    font-family: Playfair Display;
    margin-bottom: 50px;
}

.our-footer{
height: auto;
width: 100%;
position: relative;
background-color: #000;
display: flex;
justify-content: center;
}

.our-footer section{
    display: grid;
    place-items: center;
width: 100%;
height: 100%;
}

.our-footer .footer-contents{
    display: flex;
    justify-content: center;
}

.our-footer svg{
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
}

.footer-contents > div{
    padding: 20px 20px;
    z-index: 2;
    margin-bottom: 50px;
}

.footer-contents > div p{
    font-size: 13px;
    color: #dedede;
}

label{
    color: #dedede;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links ul li a{
text-decoration: none;
color: #dedede;
margin-top: 20px;
}


@media all and (max-width: 800px) {

    .activity-section h1{
        font-size: 60px;
    }
    

    .our-footer h1{
        text-align: center;
        font-size: 60px;
        color: #dedede;
        font-family: Playfair Display;
        margin-bottom: 50px;
    }


    .activites .activity-card{
        height: 300px;
        padding: 0px;
        margin: 10px 10px;
        position: relative;
    }

    .row > div{
        height: auto;
        width: 300px;
        margin: 10px 10px;
        background-color: #090909;
        border-radius: 10px;
        overflow: hidden;
    }

    .aboutUs-section h1{
        font-size: 60px;
    }
}

@media all and (max-width: 600px) {

    .aboutUs-section h1{
        font-size: 40px;
    }


    .activity-section h1{
        font-size: 40px;
    }
    

    .our-footer h1{
        text-align: center;
        font-size: 40px;
        color: #dedede;
        font-family: Playfair Display;
        margin-bottom: 50px;
    }


    .activites .activity-card{
        height: 300px;
        padding: 0px;
        margin: 10px 10px;
        position: relative;
    }

    .row > div{
        height: auto;
        width: 300px;
        margin: 10px 10px;
        background-color: #090909;
        border-radius: 10px;
        overflow: hidden;
    }
}