*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    height: 300px;
    width: 100%;
}

.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.second-img{
    padding-top: 50px;
    height: auto;
    display: flex;
    justify-content: center;
}

.second-img > div{
    height: 400px;
    width: 250px;
    text-align: center;
}

.second-img > div img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.third-img{
    display: flex;
    justify-content: center;
}

.third-img > div{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-direction: column;
    width: 300px;
    margin: 10px 10px;
}

.third-img div:nth-child(2){
    background-color: #dedede;
    padding: 10px 10px;
    text-align: center;
}

.third-img > div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}