*{
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
}
body{
    background: url(../images/bgpic.jpg);
}
.h1{    
    font-size: 80px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: flicker 1.5s infinite;
}
td{
    color: black;
    text-align: center; 
    width: 5vw;
    border: 1px solid black;
    font-weight: 100;
    size: 10px;
    border-radius: 30px;
}
.border{
    border: none;
}
.color1{
    background-color: #81D4FA;
}
.color2{
    background-color: #F5B7B1;
}
.color3{
    background-color: #D2B4DE;
}
.color4{
    background-color: #D5DBDB;
}
.color5{
    background-color: #F9E79F;
}
.color6{
    background-color: #ABEBC6;
}
.color7{
    background-color: #D6EAF8;
}
.color8{
    background-color: #AED6F1;
}
.color9{
    background-color: #FADBD8;
}
@keyframes flicker{
    0%, 17%, 33%, 50%, 66%, 83%, 100%{
        text-shadow:
        0 0 10px #c01111,
        0 0 20px blue,
        0 0 40px blue,
        0 0 70px blue,
        0 0 110px blue,
        0 0 160px blue
    }

    20%, 40%, 60%, 80%{
        text-shadow: none;
    }
}


/*hover*/
.color1 h2:hover{
    transform: none;
}
.color2 h2:hover{
    transform: none;
}
.color3 h2:hover{
    transform: none;
}
.color4 h2:hover{
    transform: none;
}
.color5 h2:hover{
    transform: none;
}
.color6 h2:hover{
    transform: none;
}
.color7 h2:hover{
    transform: none;
}
.color8 h2:hover{
    transform: none;
}
.color9 h2:hover{
    transform: none;
}
.color1:hover{
    transform: scale(1.5);
}
.color2:hover{
    transform: scale(1.5);
}
.color3:hover{
    transform: scale(1.5);
}
.color4:hover{
    transform: scale(1.5);
}
.color5:hover{
    transform: scale(1.5);
}
.color6:hover{
    transform: scale(1.5);
}
.color7:hover{
    transform: scale(1.5);
}
.color8:hover{
    transform: scale(1.5);
}
.color9:hover{
    transform: scale(1.5);
}
